.wiki-header {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.wiki-wrapper {
  display: flex;
}

.side-menu {
  margin: 20px 50px auto 50px;
  width: 200px;
}

.wiki-content {
  margin-bottom: 30px;
}

.menu-item {
  cursor: pointer;
  margin-bottom: 10px;
}